<div class ="jumbotron">


	<center>

		<h1>Welcome to Kevin's Special Donut Shop!</h1>

		<img src="http://img70.imageshack.us/img70/8377/cutesquirrels32eh9.jpg">
		<br>

		<%= link_to "Check out our special Donut of the seasion. ;)", donuts_path, class: "btn btn-default" %>

	</center>

</div>

<p>This is a test</p>